.workaddress{border-style: solid;
         border-radius: 0%;
         text-align: center;
         margin: 80px;
         background-color: #f7786b;
}
.homeaddress{border-style: solid;
    border-radius: 0%;
    text-align: center;
    margin: 80px;
    background-color: #f7cac9;  
}
.part1{display: flex;
justify-content: space-around;
max-width: 100%;
margin-top: 0px;
margin: 80px;
justify-content: space-around;
margin-bottom: 90px;
}
.email{border-style: solid;
    border-radius: 0%;
    text-align: center;
    flex: 1;
    padding: 50px;
    max-width: 45%;
    margin-right: 10px;
    background-color: #92a8d1;
}
.linkedin{
    border-style: solid;
    border-radius: 0%;
    text-align: center;
    flex: 1;
    padding: 50px;
    max-width: 45%;
    margin-left: 50px;
    background-color: #92a8d1;

}
nav{margin: 40px;
    margin-right: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    float: right;
}
nav a{
    color: #f7786b;
}
h1{margin: 70px 90px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2em;
    color: #f7786b;
}
body{background-color: #034f84;}

.part2{border-style: solid;
    text-align: center;
    margin: 80px;
    padding: 20px 20px;
    background-color: #f7786b;
}

.part3{border-style: solid;
    text-align: center;
    margin: 80px;
    padding: 20px 20px;
    background-color: #f7cac9;
}

.addy{
    font-size: 17px;
}