.head{display: flex;
      border-style: solid;
      margin: 40px 40px 10px 40px;
      padding: 50px;
      justify-content: space-between;
      background-image: url(holy.jpeg);
      min-height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
.headtwo{display: flex;
         border-style: solid;
         margin: 40px;
         margin-bottom: 0px;
         padding: 30px;
         min-height: 320px;
         background-image: url(holy.jpeg);
         background-position: bottom;
         background-repeat: no-repeat;
         background-size: cover;
         margin-top: 0%;
}
.name{font-size: 3em;
      color: #ffffff;
      font-weight: bold;
      font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
     }

.topnav {
   padding-top: 20px;
   font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
  }
.intro{display: flex;
       padding: 50px;
       padding-top: 0px;
       margin: 40px;
       margin-bottom: 0px;
       text-align: center;
       font-size: 1.5em;
}
div{font-family: 'Times New Roman', Times, serif;}
.headthree{text-align: center;
           font-size: 1.5em;
           font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.currenttrends{display: flex;
    padding: 30px;
}
.gq, .sg, .vogue {
    margin: 40px;
    margin-top: 0px;
    padding: 30px;
    padding-bottom: 20px;
    text-align: center;
    border-style: solid;
    font-size: 1.3em;
    max-width: 30%;
    border-radius: 15px 50px;
}
.gq img, .sg img, .vogue img{max-width: 100%;
max-height: 70%;}
.body{background-color: #D0BF9E;}
.gq{background-color: #a1e4ff;}
.sg{background-color: #80d2f2;}
.vogue{background-color: #48c8fa;}

