h1, h2, h3{color: #427bf5;}
td, th {border: 1px solid #000000;}
.evenrow{
    color: black;
    background-color: #ffe4ff;
}
body{background-color: #F5F5DC;}
p, ul, label, tr, th, caption{color: #f57542;}
nav a{color: #4a86e8;} 
nav a:hover{background-color: #3271a8;} 
.navigation{background-color: #00ffff}
nav {padding: 10px;}
nav{margin-bottom: 30px;}
.quote, .logo {float: right;}
.part1 {display: flex;}
.part1 {padding: 10px;}
.part1 {flex: 2; background-color: #cce5ff; border-radius: 1em; margin-bottom: 30px;}
.first{width: 30%;
    margin: 0 auto;}
.description{color: #000000;
            text-align: left;
            margin-left: 50px;
            margin-right: 50px;}
.techskills{display: flex;
    justify-content: space-evenly;}
div{padding-top: 50px;}
.os{background-color: #4257f5;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.ts{font-weight: normal;
    font-size: 1rem;}

.me{width: 50%;
margin-left: 25%;}
.address{padding: 40px}
.part2{display: flex;
       background-color: #cce5ff; 
       border-radius: 1em;
       padding: 40px;
       flex-wrap: wrap;}
.form{padding: 50px;}
@media only screen and (max-width: 800px) {
    nav a{display: block}
    nav a{padding: 10px;}
    nav span{display: none}
}